extends layout

include mixins/radioField
include mixins/sparkLogo
include mixins/cta
include mixins/selectField
include mixins/pager
include mixins/projectSearchEntry
include mixins/messageBlock

block panels
    ol(class="panels you-panels")
        mixin headerPanel
        mixin localPassion
        mixin yourSupport(true)
        mixin outOfPoverty

block content
    link(rel='stylesheet', href='/stylesheets/you.css')
    section.static.you-pg
        .columns
            .column.double-column.text-right
                h1.big-char It's a simple equation
                h2.large-char We all have a role to play
            .column.single-column.selected-column
            .column.single-column.top-pdng
                .message-blocks.absolute.top-tab
                    a.go-in-path(href='/1-million-people#mill-education')
                        mixin messageBlock(messages.teresia)
                    h5.title AT RISK CHILDREN IN SCHOOL
                    .and and
                    a.go-in-path(href='/1-million-people#mill-employment')
                        mixin messageBlock(messages.mary)
                    h5.title IMPROVING LIVELIHOODS BY CREATING JOBS
                    .and and
                    a.go-in-path(href='/1-million-people#mill-gender-equality')
                        mixin messageBlock(messages.christina)
                    h5.title IMPROVING THE ENVIRONMENT
                    .and and
                    a.go-in-path(href='/1-million-people#mill-health')
                        mixin messageBlock(messages.peter)
                    h5.title IMPROVING GENDER EQUALITY
                    .and and
                    a.go-in-path(href='/1-million-people#mill-environment')
                        mixin messageBlock(messages.cecilia)
                    h5.title IMPROVING HEALTH
                    .and and
        .columns.you-panel
            .column.single-column
                .you-panel-white
                    h3 The Spark Team
                    strong
                .i-hz
                    img(src="/images/carousel-spark.png")
                .text-spark-team
                    p.text-team.img-and-text A team of passionate social entrepreneurs with a track record of turning good ideas into effective community projects
                .text-team-strengths
                    h4 Strengths
                    p Proven model 
                    p Entrepreneurial acumen 
                    p Global network
                .text-team-role
                    h4 Role
                    a Find
                    span  Changemakers
                    br
                    a Accelerate
                    span  Changemakers
                    br
                    a Support
                    span  Changemakers
                a.more-tab(href="/Spark") More about Spark *

            .column.single-column
                .you-panel-white
                    h3 The Changemaker
                    strong
                .i-hz
                    img(src="images/carousel-changemaker.png")
                .text-spark-team
                    p.text-and-line.img-and-text A team of passionate social entrepreneurs with a track record of turning good ideas into effective community projects
                .text-team-strengths
                    h4 Strengths
                    p Local knowledge 
                    p Embedded in the community 
                    p Long term commitment
                .text-team-role
                    h4 Role
                    p Develop an idea
                    p Launch a project
                    p Grow their project
                a.more-tab.clr-changmakers(href="/change-maker") More about Changemakers

            .column.single-column.selected-column
                .you-panel-pink
                    h3 YOU
                    strong.eql
                .i-hz
                    .pink-bkg
                    img(src="images/carousel-you.png")
                .text-you
                    p.img-and-text A passionate individual searching for the best way to make a difference to people living in extreme poverty
                .text-team-strengths
                    h4 Strengths
                    p Employed
                    p Educated
                    p Hyper-Connected
                .text-team-role
                    h4 Role 
                    p Find changemakers
                    p Help changemakers
                    p Spread the world
                .min-hgt(align="center")
                    .text-team-strengths.cta-opacity
                        .spark-or-million 
                            .for-cta
                                mixin cta('fund', 'fund-a-changemaker', 'A Changemaker', 'Find', '/change-maker')
                                p.partner-with to partner with
                        h5.grey-text(align="center") and spread the world
                        .sharing
                            .addthis
                                .addthis_toolbox.addthis_default_style
                                    a.addthis_button_facebook
                                    a.addthis_button_email
                                    a.addthis_button_tweet
                                script var addthis_config = {ui_508_compliant: true};
                                script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5162baea0000c270")
        .columns.pos-relative
            .column.double-column.text-right
                h1.big-char We believe Changemakers are the key
                h2.large-char And it is our role to support them
        .columns
            .column.triple-column
                p
                    :markdown

                        ###Gaining more than you give###

                        The odds are that if you do volunteer overseas, you will return motivated, wiser and with a new appreciation of how lucky you really are. However (and no-one likes to hear this), there is a very real chance that after all of your work, your impact on the poor will be limited. While overseas volunteers may have lots of passion it is unlikely that they have the relevant skills needed to create real change in these communities. 

                        Our advice: If you really do want to witness the realities of poverty - ready your backpack, get some friends together and travel overseas as a tourist (keep safe though!). When you return home, search for local Spark* Changemakers on our website to support! 

                        ###Change takes time###

                        Creating true change in very poor communities takes time, and while our Changemakers are there for the long run, most volunteer placements are less than a month. If you are looking for a shorter-term volunteering experience it’s worth really thinking about what your impact may be. 

                        Our advice: Partner with a Changemaker for the long term. Keep in touch with them, help in as many ways as you can and follow their progress. Maybe one day you could even go over and visit as a friend!

                        ###The power of local solutions###

                        It takes enormous skill and local knowledge to lead change in a very poor community, attributes that our Changemakers possess in spades. Sometimes, very well meaning but inexperienced volunteers may actually have a negative effect on the communities they engage with. It’s always worth asking yourself whether a volunteer placement may be replacing local jobs and whether giving away free goods may be putting local companies out of business. 

                        Our advice: First consider backing the local genius and passion of our Changemakers. If you do have a skill to offer, please click on the ‘Help a Changemaker’ button on this website.
        .columns
            .column.double-column.text-right
                h1.last-b-char TOGETHER WE CAN ACHIEVE MORE
                h2.large-char You are not alone, they are not alone
                .column
                    .blue-peoples
                    .supporters-blue
                        strong.btm
                        b 3
                        span  countries with a team of
                        b  35
                        span  staff.
                    .line.blue
                .column
                    .yellow-peoples
                    .supporters-yellow
                        strong.btm
                        b 17
                        span  community projects, and this year
                        b  50
                        span  new Changemakers will be accelerated.
                    .line.yellow
            .column.single-column.selected-column.pdng-tp
                .pink-peoples
                strong.btm.btm-eql
                .supporters-pink
                    b 2000 
                    span supporters partnering with our Changemakers
                .line.pink
            .column.single-column.pdng-tp
                img.all-peoples(src="/images/all-peoples.png")
                .supporters-all
                    span Together we have helped 
                    b 2650
                    span  out of extreme poverty. Our goal is one million.
                .line.all
    .bottom-panel
        img(src="/images/bottom-panel.png")
    .margin20
append scripts
    script(src="/scripts/urls.js")
