roundedButton()
    border-radius baseSpacing
    font-size sectionHeadSize
    text-transform uppercase
    font-family sparkFontBold
    padding baseSpacing

    .detail
        font-size labelSize
        font-family bodyFont

paddedBlock()
    display block
    padding baseSpacing

left-shifted(oldColumnWidth = 1, newColumnWidth = 1)
    position absolute
    right (panelWidth * oldColumnWidth) + baseSpacing
    width (panelWidth * newColumnWidth)
    text-align right

transparentBackground(opacity, color)
    position absolute
    background-color color
    content ""
    width 100%
    height 100%
    z-index -1
    opacity opacity
    top 0
    left 0

// background transparency
background-transparency(color, alpha = 1)
  background rgb(color)
  background rgba(color, alpha)

arrow(borderWidth, color, solidBorderSide)
    border-top borderWidth solid transparent
    border-bottom borderWidth solid transparent
    border-left borderWidth solid transparent
    border-right borderWidth solid transparent
    border-{solidBorderSide} borderWidth solid color
    width 0
    height 0
    position absolute
    content ""

plus()
    content "+"
    font-family sparkFontBold
    font-weight bold
    font-size plusEqualsSize

navBg(color)
    &:before
        background color
        width panelWidth
        height navHeight
        position absolute
        content ""
        top 0
        left 0
        z-index -5