@import 'nib'
@import variables
@import mixins


#one-mill-ppl
    .bottom-panel
        position relative
        margin 7px 0 25px 30px
	h1
		text-align right
		font-family sparkFontBold 
		font-size largeHeadSize
		text-transform uppercase
	.ap-map
		position absolute
		margin-top -50px
		margin-left -213px
		z-index -6
	.column.single-column
		.sum-last
			margin 117px 0 0 30px
		.sum-first
			margin-top 117px 
		.sum-peoples
			margin-top 88px
			.pink-peoples
				position relative
				z-index 2
				width 260px
				top 3px
				left 10px
		.roles
			margin-top 10px
			font-size labelSize
			.spark-role
				color blueLink
				margin-left 25px
			.your-role
				color pink
				margin-left 10px
		.middle-role
			.their-role
				color goldBrown
				margin-left 21px
	.columns.fullstory-size
		height 150px
	.column
		padding 0px
		vertical-align top
		.helped > p
			margin 0px 10px
			color brown
			font-size textSize
		.supporters
			background-color white
			width 200px
			padding 30px 5px
			margin-left 35px
			b
				margin-left 30px
				font-size sectionHeadSize
			span
				margin-left 10px
				font-size largeTextSize
		.pink-line
			margin-left 35px
			float bottom
			width 210px
			height 7px
			background-color pink
	.column-cta 
		width 690px
	.read-full-story, .hide-full-story
		margin-top 10px
		text-decoration underline
		font-size textSize
		cursor pointer
	.hide-full-story
		display none
	.oneMillPplPart
		.none-height
			position absolute
			margin-top 45px
		.oneMillPplPart-block
			> *
				padding 10px
			h4
				background-transparency(gray, 0.2)
				font-size smallHeadSize
				color brown
				font-family sparkFontBold
			.oneMillPplPart-block-description
				background-transparency(gray, 0.2)
				color brown
				font-size textSize
			.oneMillPplPart-block-footer
				padding 10px
				background-transparency(brown, 0.3)
				font-size textSize
		.oneMillPplPart-bottom
			margin-top 20px
			font-size largeTextSize
			font-weight bold
			color green
			text-align right
			a
				font-size textSize
				color green
		.oneMillPplPart-block-right
			background-color green
			color white
			font-size largeTextSize
			padding 0px
			margin-top 235px
			margin-bottom 0px
	.triple-column
		> *
			margin 10px
		p
			text-align left

		h2
			font-size largeHeadSize
			text-align right
		h3
			color brown
			font-size sectionHeadSize
			text-align right
			b
			  color black
		.title-class
			margin-top 50px
	.black
		color black
	.selected-column
		> *
			padding 10px
		color brown
		text-align right
		line-height spacedLines
		padding-right: 0px;
		background-transparency(subtler,0.2)
		vertical-align top
		H3
			font-size smallHeadSize
		p
			font-size textSize
		a
			font-size textSize
			color green
		.ahref-brown-color
			position relative
			top 48px
			a
				color brown
				font-size textSize
	.left-text
		text-align left
	.head-paragraph
		background-transparency(green,1)
		padding 20px
		color white
		font-family sparkFontBold
		font-size largeHeadSize
		margin-top 0px
	.message-blocks
		height 400px
		margin-top 50px
    .go-in-path
    	text-decoration none
    	color black
	.message-block
		position relative
		width messageBlockWidth
		padding 0px
		background-transparency(lightGreen,0.7)
		.img-line
		    position absolute
		    left 210px
		    top 20px
	    .img-line-last
		    position absolute
		    left 210px
		    top -80px
	    .smallFS
	        font-size messageBlockTextSize
		.message-block-image
			position relative
			left -100px
			top -100px
		.message-block-location
			margin 2px 6px 4px 5px
			color black
			span
				margin-left 4px
			img
				position relative
				top 3px
		h2
			padding 5px 6px 0 0
			color darkGreen
			font-size smallHeadSize
			text-align right
			vertical-align top
		.line-bottom-green
			width 220px
			height 1px
			background-color darkGreen
		img.go-right-white
			display none
		&:hover
			background-transparency(green,1)
			color white
			cursor: pointer
			.line-bottom-green
				background-color white
			h2
				color black
			.message-block-location
				color black
			img.go-right-brown
				display none
			img.go-right-white
				display inline
	.small-text
		font-size: messageBlockTextSizeBottom
		margin-left: 8px
	.margin-text
		padding: 5px 10px
		font-size 1.4rem
		line-height 1
		font-family: sparkFontBold

	.img-left
		background-size: cover
	.full-story
		.project-search
			min-height 0px
			z-index 2
			position absolute
			float left
			&:before
				content none
		.selected-column
			padding 0px
			background-color green
			color white
			text-align left
			.img-left
				padding 0px
		.selected-column.right-column-cta
			background-transparency(subtler,0.2)
		.not-displayed
			display none
	.full-story
		p.fullstory-one
			margin 109px 20px 0px 25px
			font-size textSize
			color brown
			// margin-left 10px
		.spark-logo
			margin-left 50px
			margin-top 30px
			position absolute
			font-size 70px
			text-align center
			vertical-align top
			display inline-block
		strong
			&:after
			    content "+"
			    position absolute
			    font-family sparkFontBold
			    font-size largeSizePlus
			    color forBrownPlus
			    margin 44px 0 0 185px
			    z-index 4
		    &.two-plus:after
		    	margin-left 208px
		    &.eql:after
		    	margin-top 70px
		    	margin-left 220px
		    	font-size largeSizeEql
		    	content "="
		.funded, .helped
			margin-top 100px
			h5
				font-size smallHeadSize
				font-family sparkFontBold
				color brown
				margin 10px 10px 4px
			ul
				font-size textSize
				color brown
				margin 0 10px
				.first-top
					margin-top 10px
	.img-people
		position: absolute
		top: -35px
		left: -31px
		background: url('/images/people.png') no-repeat
		height: 60px
		width: 60px
	.img-right-sleeve
		background: url('/images/people.png') no-repeat
		height: 60px
		width: 60px
	.img-people-right-sleeve
		position: relative
		top: 220px
		left: 200px
		background: url('/images/people.png') no-repeat
		height: 60px
		width: 60px
	.img-arrow-right
		margin-top 4px
		float right
	.img-arrow-up
		margin-left: 8px
	.img-arrow-left
		margin-left: 5px
	.img-arrow-down
		margin-left: 5px
.bottom-panel
    margin-top 3px
    img
        position absolute
        left 0px
        width 100%
        height 100px
.margin20
    margin-bottom 170px
.nav-in-page
	margin-top 50px

.full-story-cta
	float right
	margin-right 60px
	margin-top 20px

.first-cta
	float right
	margin-right 30px
	
.map-ap
	position relative
    background url('/images/map-million.png') no-repeat 
    height 500px
    width 1000px