@import 'nib'
@import variables
@import mixins

.for-cta
    text-align center
    sml
    	padding-top 0px !important
strong
	&:after
	    content "+"
	    position absolute
	    font-family sparkFontBold
	    font-size plusEqualsSize
	    color white
	    margin 90px 0 0 197px
	    z-index 4
    &.eql:after
    	margin-top 96px	
    	content "="
	&.btm:after
		font-size plusEqualsSize
		margin-top 20px
		margin-left 195px
		color forBrownPlus
		opacity 0.8
	&.btm-eql:after
		content "="
		margin-top 180px

.text-right
	text-align right

.top-pdng
	padding-top 49px

.absolute
	position absolute
	&.top-tab
		padding-top 106px

.selected-column
	background-transparency(subtler,0.2)

.min-hgt
	min-height 100px
	margin-bottom 10px
	h5.grey-text
		color lowlightBrown
		margin-top 12px

.blue-peoples
	position relative
	top 37px
	left 5px
	width 240px
	height 55px
	background url("/images/blue-peoples.png") no-repeat
.supporters-blue
	min-height 83px
	text-align left
	position relative
	top 34px
	background-color white
	width 200px
	margin-left 16px
	padding 15px 7px

.yellow-peoples
	position relative
	top 53px
	left -5px
	width 240px
	height 85px
	background url("/images/yellow-peoples.png") no-repeat
.supporters-yellow
	min-height 83px
	text-align left
	position relative
	top 34px
	background-color white
	width 200px
	padding 15px 7px
	margin-left 9px

.pink-peoples
	position absolute
	width 240px
	margin-left -14px
	margin-top 59px
	height 155px
	background url("/images/you-pink-peoples.png") no-repeat
.supporters-pink
	position absolute
	min-height 83px
	text-align left
	background-color white
	width 200px
	padding 15px 7px
	margin-top 147px
	margin-left 3px

.all-peoples
	position absolute
	margin-top -71px
	width 240px
.supporters-all
	position absolute
	margin-left 14px
	margin-top 147px
	min-height 83px
	text-align left
	background-color white
	width 195px
	padding 15px 10px

b
	font-size textSizePartner
	font-weight bold
span
	font-size textSizeTogether

.line
	margin-bottom 85px
	position relative
	float bottom
	width 215px
	height 7px
	&.pink
		position absolute
		margin-top 260px
		margin-left 3px
		background-color pink
	&.yellow
		margin-left 9px
		margin-top 34px
		background-color brightYellow
	&.blue
		top 34px
		left 16px
		background-color blue
	&.all
		position absolute
		margin-left 14px
		margin-top 260px
		background-color green

.message-blocks
	h5.title
		color darkGreen
		font-size sectionHeadSize
		font-family sparkFont
		text-align center
		display block
		margin 5px 0 10px 15px
		line-height 1
		padding-bottom 0rem
		max-width messageBlockWidth
		// font-weight bold
	.and
		margin 44px
		color brown
		font-size sectionHeadSize
		font-family sparkFontBold
		text-align center
	.message-block
		padding 5px 0px 0px 0px
		margin-left 1.25rem
		h2
			margin-bottom 2px
		.line-bottom-green
			width messageBlockWidth
			height LineOrSmallPadding
			background-color darkGreen
		&:hover
			h2
				color black
			.line-bottom-green
				background-color white
.img-arrow-right
	margin-top 4px
	float right

.big-char
	text-transform uppercase
	font-size largeHeadSize !important
	margin 29px 7px 10px 0 !important

.last-b-char
	text-transform uppercase
	font-size largeHeadSize !important
	margin 10px 7px 10px 0 !important

.pdng-tp
	padding-top 32.5px

.pos-relative
	position relative
	top -122px
	max-height 5px

.large-char
	margin-right 7px
	margin-bottom 0px !important

section.static
	margin-bottom 0px
	.message-block
		max-width 220px
		h2
			color darkGreen
			font-size smallHeadSize
			margin 5px 6px 4px 0
		p
			line-height 15px
			margin-bottom 0px
		.smallFS
		    font-size messageBlockTextSize
		.img-people
			position: absolute
			top: -35px
			left: -31px
			background: url('/images/people.png') no-repeat
			height: 60px
			width: 60px
	.message-block-location
		margin 2px 6px 2px 5px
		color black
		.small-text
			font-size messageBlockTextSizeBottom
			margin-left 5px
.column.triple-column 
	p
		color brown
	h3
		font-size smallHeadSize

.you-pg
	.you-panel
		h3
			margin-bottom 0px
			font-size sectionHeadSize
			text-align center
			padding 10px
		.you-panel-white
			background-color white
			margin 10px 10px 0px
		.you-panel-pink
			padding-bottom 6px
			background-color pink
			margin 10px 10px 0px
			h3
				color white
				font-size textForYou
				padding-top 28px
				padding-bottom 15px
		.pink-bkg
			width 230px
			height 220px
			position absolute
			z-index 3
			background-color pink
			opacity 0.2
		.text-spark-team
			position relative
			opacity 0.8
			background-color white
			.img-and-text
				height 65px
				line-height 15px
			.text-team
				margin-left 0px
				padding 13px 10px
		.text-and-line
			margin-left 0px
			padding 13px 10px
			border-left 0.1rem solid black
		.i-hz
			height 13.6rem
			vertical-align middle
		.text-you
			line-height 15px
			position relative
			color white
			background-color pink
			opacity 0.9
			padding 13px 10px
			height 65px
		.text-team-strengths
			min-height 83px
			margin 0px 9px
			padding 15px 5px
			position relative
			line-height 1.28
			opacity 0.65
			background-color lightGreyBrown
			&.cta-opacity
				opacity 0.9
		h4
			margin-bottom 3px
			font-weight bold
			font-size badgeSize
		p
			font-size textSize
			margin 0 0 0px 8px
		a
			color blueLink
			margin-left 8px
			text-decoration underline
			&.more-tab
				font-size textSize
				margin-left 13px
				color blueLink
				&.clr-changmakers
					color goldBrown
		.text-team-role
			margin 0px 9px
			padding 10px 5px
			position relative
			line-height 1.28
			opacity 0.7
			background-color darkGreyBrown
			font-size textSize
			span
				font-size textSize
.bottom-panel
	margin-top 2px
	img
		position absolute
		left 0px
		width 100%
		height 100px

.margin20
	margin-bottom 170px

.sharing
	.addthis
		width 100%
		margin-top 10px
		margin-left 40px
