//- Use
//- Primary "FIND a changemaker" link
//- cta
//- Primary "FUND John" button
//- cta('primary', 'myId', changemaker.name, 'Fund', false)
//- Secondary "Help John" button
//- cta('secondary', 'myId', changemaker.name)
mixin cta(style, id, txt_sml, txt_lrg, href)
    - if (typeof(style) === 'undefined')
        - style = 'primary'

    - var btn_txt_sml = 'A Changemaker'

    case style
        when 'primary'
            - var btn_txt_lrg = 'Find'
            - var btn_href = '/change-maker'
        when 'secondary'
            - var btn_txt_lrg = 'Help'
            - var btn_href = false

    - if (typeof(txt_sml) !== 'undefined')
        - btn_txt_sml = txt_sml
    - if (typeof(txt_lrg) !== 'undefined')
        - btn_txt_lrg = txt_lrg
    - if (typeof(href) !== 'undefined')
        - btn_href = href

    - var btn_title = btn_txt_lrg + ' ' + btn_txt_sml

    - if (btn_href === false)
        button(class='btn btn-' + style, title=btn_title) #{btn_txt_lrg}
            sml #{btn_txt_sml}
    - else
        a(class='btn btn-' + style, href=btn_href, title=btn_title) #{btn_txt_lrg}
            sml #{btn_txt_sml}