mixin messageBlock(data, position)
    - var style = ''
    - if (position)
        - style = "left: "+data.left+"px; top: "+data.top+"px"
    .message-block(style=style)
        .img-people
        - if (position)
            - if (data.imagename == 'line-5')
                img.img-line-last(src="/images/" + data.imagename + ".png")
            - else
                img.img-line(src="/images/" + data.imagename + ".png")
        h2= data.name
        p.smallFS(style="margin: 0 6px 0 6px;")= data.message
        .message-block-location
            img.go-right-brown(src="/images/icon-location-green.png")
            img.go-right-white(src="/images/icon-location-black.png")
            span.small-text= data.location
            img.go-right-brown.img-arrow-right(src='/images/arrow-right-brown-24.png')
            img.go-right-white.img-arrow-right(src='/images/arrow-right-white-24.png')
        .line-bottom-green