mixin oneMillPplPart(data, flag)
    link(rel='text/javascript', href='/scripts/hrefers.js')
    .oneMillPplPart
        .columns
            .column.triple-column
                a.none-height(name=data.href)
                .title-class
                h2= data.head
                h3 
                  = data.labelDescription1
                  span.black= data.labelDescription2
                .oneMillPplPart-block
                    h4= data.messageHead
                    .oneMillPplPart-block-description= data.messageDescription
                    .oneMillPplPart-block-footer= data.messageFooter 
                .oneMillPplPart-bottom= data.bottomMessage
                    - if (flag == false)
                        .read-full-story(id='read-' + data.href)
                            span Read full story
                            img.img-arrow-down(src='/images/arrow-down-brown.png')
                        .hide-full-story(id='hide-' + data.href)
                            span Hide full story
                            img.img-arrow-up(src='/images/arrow-up-brown.png')
            .column.single-column.selected-column.left-text
                .ahref-brown-color
                    a(href='#top') Top
                        img.img-arrow-up(src='/images/arrow-up-brown.png')
                .img-people-right-sleeve
                .oneMillPplPart-block-right
                    .margin-text
                        = data.rightMessage
        - var notdisplayed = (flag == false) ? 'none;' : 'block;'

        .full-story(style="display:" + notdisplayed)(id=data.head)
            .columns.fullstory-size
                .column.single-column
                    strong
                    .sum-first
                        mixin sparkLogo

                .column.single-column
                        strong.two-plus
                        - projects[0].searchImageUrl = '/images/projects/seeds-of-hope/search.jpg'
                        - projects[0].grant_info = {}
                        - projects[0].grant_info.percent_attained = '100'
                        - projects[0].grant_info.amount_usd = '100'
                        .project-search
                            mixin projectSearchEntry(projects[0])
                            .middle-role
                                a.their-role(href="/change-maker") More about Wawira
                .column.single-column
                    strong.eql
                    .sum-peoples
                        img.pink-peoples(src="/images/pink-peoples.png")
                        .supporters
                            b= data.fullstory.supporters
                            span supporters
                        .pink-line

                .column.single-column.selected-column
                        .img-left
                            img(src='/images/1-mill-'+data.image+'.jpg')
            .columns
                .column.single-column
                        p.fullstory-one!= data.fullstory.one
                        .roles
                            a.spark-role(href="/Spark") More about Spark * role
                .column.single-column

                .column.single-column
                    .helped-top
                        .helped
                            h5 Funded                       
                            p= data.fullstory.help.funded
                            h5 Helped
                            ul.first-top= data.fullstory.help.helpedfst
                            ul= data.fullstory.help.helpedscnd
                            ul= data.fullstory.help.helpedlst
                            .roles
                                a.your-role(href="/You") More about Your role             
                .column.single-column.selected-column
                    p= data.story  
            .columns   
                .column.column-cta 
                    .spark-or-million 
                        .for-cta
                            .full-story-cta
                                mixin cta('fund', 'fund-a-changemaker', 'A Changemaker', 'Find', '/change-maker')       
                                p.partner-with to partner with
                .column.selected-column.single-column.right-column-cta
