mixin pagerItem(page, isCurrent, pagingUrl, text)
    li(class= isCurrent && 'current-page')
        a(href=pagingUrl + page)
            div= text || page

mixin pager(thisPage, totalPages, pagingUrl)
    - function range(m, n) { var ret = []; while (n >= m) ret.unshift(n--); return ret; }
    span(class="pager")
        ul
            //- change this if you want to show more or fewer pages in each grouping
            - var numAdjacent = 1;

            mixin pagerItem(1, thisPage == 1, pagingUrl, "first")

            - if (thisPage > 1)
                mixin pagerItem(thisPage - 1, false, pagingUrl, "<")

            - if (totalPages <= (2 + 4 * numAdjacent))
                each page in range(1, totalPages)
                    mixin pagerItem(page, thisPage == page, pagingUrl)
            - else
                - var firstMax = 2 * numAdjacent + 1;
                - var lastMin = totalPages - (2 * numAdjacent);
                - var middleMin = Math.max(thisPage - numAdjacent, firstMax + 1);
                - var middleMax = Math.min(thisPage + numAdjacent, lastMin - 1);
                - var middleRequired = thisPage > (firstMax - numAdjacent) && thisPage < (lastMin + numAdjacent);

                //- we always show the first N pages
                each page in range(1, firstMax)
                    mixin pagerItem(page, thisPage == page, pagingUrl)

                //- if there is a gap between the first N and the middle ones
                - if (firstMax < middleMin - 1)
                    li &hellip;

                //- if the current page or any adjacent page numbers
                //- are not within the first N or last N, display them
                - if (middleRequired)
                    each page in range(middleMin, middleMax)
                        mixin pagerItem(page, thisPage == page, pagingUrl)

                //- if there is a gap between the last N and the middle ones
                - if (lastMin > middleMax + 1)
                    li &hellip;

                //- we always show the last N pages
                each page in range(lastMin, totalPages)
                    mixin pagerItem(page, thisPage == page, pagingUrl)

            - if (thisPage < totalPages)
                mixin pagerItem(thisPage + 1, false, pagingUrl, ">")

            mixin pagerItem(totalPages, thisPage == totalPages, pagingUrl, "last")
