include projectProgress

mixin projectSearchEntry(project)
    a(href="#{project.url}")
        li.project-entry
            h4
                = project.name
                div by&nbsp;
                    span.change-maker #{project.changemaker.first_name} #{project.changemaker.last_name}
            - if (project.searchImageUrl)
                img(src=project.searchImageUrl, alt=project.changemaker.first_name + ' ' + project.changemaker.last_name)
            - else
                .empty_image
            .category= project.category
            .description
                .mission= project.mission
                .location= project.location
            - if (project.grant_info)
                mixin projectProgress(project.grant_info)
